.darkOn {
  form { 
    span{
      color: #fff!important;
    }  

    textarea {
      background: #0144b7 !important;
      color: #fff;
      
    }
    
    textarea:focus{
      outline: 0;
      border: 2px solid #00d4ff !important;
    }
  }
}

#page-room {
  min-height: 100vh;
  padding-bottom: 32px;

  header {
    padding: 24px;
    border-bottom: 1px solid #e2e2e2;

    .content {
      max-width: 1200px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .room-title {
        margin: 24px auto;
      }

      > img {
        max-height: 45px;
      }
      
      #img {
        height: 45px;
      }

      > div {
        display: flex;
        gap: 16px;
      }

      button {
        height: 40px;
      }
    }
  }

  main {
    max-width: 800px;
    margin: 0 auto;

    .room-title {
      margin: 32px 0 0;
      display: flex;
      align-items: center;

      h1 {
        font-family: 'Poppins', sans-serif;
        font-size: 24px;
        color: #29292e;
      }

      span {
        margin-left: 16px;
        background: #e559f9;
        border-radius: 9999px;
        padding: 8px 16px;
        color: #fff;
        font-weight: 500;
      }
    }

    form {
      textarea {
        width: 100%;
        border: 0;
        padding: 16px;
        border-radius: 8px;
        background: #fefefe;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
        resize: vertical;
        min-height: 130px;
      }
      
      .form-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 16px;

        .user-info {
          display: flex;
          align-items: center;

          img {
            width: 32px;
            height: 32px;
            border-radius: 50%;
          }

          span {
            margin-left: 8px;
            color: #29292e;
            font-weight: 500;
            font-size: 14px;
          }
        }

        span {
          font-size: 14px;
          color: #737380;
          font-weight: 500;

          button {
            background: transparent;
            border: 0;
            color: #835AFD;
            text-decoration: underline;
            font-size: 14px;
            cursor: pointer;
          }
        }
      }
    }

    .question-list {
      .no-question {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 160px;
        
        h1 {
          margin: 16px 0px 16px 0px;
          font-size: 24px;
        }

        span {
          font-size: 20px;
          color: #737380;
        }
      }

      margin: 32px;
    }
  }

  @media (max-width: 768px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > img {
        max-height: 75px !important;
        margin-bottom: 16px;
      }

      #img {
        height: 75px !important;
      }
      
      > div {
        margin-bottom: 16px;
      }
      
      .room-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        > span {
          margin: 16px 0 0px 0;
        }
      }

      .form-footer {
        display: flex;
      }

      textarea {
        min-width: 600px;
        margin-top: 16px;
      }

      .question {
        min-width: 600px;
      }
    }
  }

  @media (max-width: 480px) {
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      > div {
        flex-direction: column;
      }

      .room-title {
        h1 {
          text-align: center;
        }
      }

      textarea {
        min-width: 300px;
      }

      .form-footer {
        display: flex;
        flex-direction: column;

        button {
          margin-top: 5px;
          font-size: 10px;
          height: 30px;
        }
      }

      .question {
        min-width: 100%;
      }

    }
  }
}